{% extends 'base.html' %}
{% load staticfiles %}

    {% block content %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{% static 'img/home-bg.jpg'%}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Colombia Si es Realismo Mágico</h1>
              <span class="subheading">Y te lo voy a demostrar</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    
    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {% for object in object_list %}
          <div class="post-preview">
            <a href="{% url 'post-detail' object.id %}">
              <h2 class="post-title">
                {{object.title}}
              </h2>
              <h3 class="post-subtitle">
                {{object.content | safe | truncatechars:240}}
              </h3>
            </a>
            <p class="post-meta">
              <!-- <a href="#">Start Bootstrap</a> -->
            {{object.creation_date}}</p>
          </div>
          {% endfor %}
          <hr>
          <!-- Pager -->
         <!--  <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
          </div> -->
        </div>
      </div>
    </div>
    <hr>
    {% endblock %}


